
        <span data-brix_class="1466800402415">
            Create new user<br>
        </span>
        <div>
            <div class="row" data-brix_class="1466801424887">
                <div class="col-md-2" data-brix_class="1466801408662">
                    <span class="col-md-8" data-brix_class="1466800797345">Name</span>
                    <span class="col-md-8" data-brix_class="1466800875659">Surname</span>
                    <span class="col-md-8" data-brix_class="1466800981358" name="email">Email</span>
                    <span class="col-md-8" data-brix_class="1466801006952" name="password">Password</span>
                    <span class="col-md-8" data-brix_class="1466801075786" name="role">Role</span>
                </div>
                
                <div class="col-md-6">
                    <input type="text" ng-model="data.name" placeholder="Firstname" class="form-control" data-brix_class="1466801214715">
                    <input type="text" ng-model="data.surname" class="form-control" data-brix_class="1466801257042">
                    <input type="email" ng-model="data.email" class="form-control" data-brix_class="1466801267231">
                    <input type="password" ng-model="data.password" class="form-control" data-brix_class="1466801277136">
                    <input type="text" ng-model="data.role" class="form-control" data-brix_class="1466801287762">
                </div>

            </div>
        </div>
        <button type="button" ng-click="add()" class="btn btn-default" data-brix_class="1466801549135">Save&nbsp;</button>
