<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule projects/(.*)$ projects/api.php?request=$1 [QSA,NC,L]
    RewriteRule comments/(.*)$ comments/api.php?request=$1 [QSA,NC,L]
    RewriteRule reports/(.*)$ reports/api.php?request=$1 [QSA,NC,L]
    RewriteRule users/(.*)$ users/api.php?request=$1 [QSA,NC,L]
    RewriteRule tasks/(.*)$ tasks/api.php?request=$1 [QSA,NC,L]
</IfModule>