<section ng-controller="userCtrl" ng-init="getLoggedUser()">
        <span data-brix_class="1466800402415">
            Create new user<br>
        </span>
    <form name="userForm" ng-submit="add(userForm.$valid)" novalidate>
        <div ng-show="loggedUser.user_role=='admin'">
            <div class="row" data-brix_class="1466801424887">
                <div class="col-md-2" data-brix_class="1466801408662">
                    <span class="col-md-8" data-brix_class="1466800797345">Name</span>
                    <span class="col-md-8" data-brix_class="1466800875659">Surname</span>
                    <span class="col-md-8" data-brix_class="1466800981358" name="email">Email</span>
                    <span class="col-md-8" data-brix_class="1466801006952" name="password">Password</span>
                    <span class="col-md-8" data-brix_class="1466801075786" name="role">Role</span>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.name.$invalid }">
                        <input name="name" type="text" ng-model="data.name"  class="form-control" data-brix_class="1466801214715" required="true">
                            <div ng-show="submitted && userForm.name.$invalid" class="help-block">
                                <p ng-show="userForm.name.$error.required">User name is required!</p>
                            </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.surname.$invalid }">
                        <input type="text" name="surname" ng-model="data.surname" class="form-control" data-brix_class="1466801257042" required="true">
                            <div ng-show="submitted && userForm.surname.$invalid" class="help-block">
                                <p ng-show="userForm.surname.$error.required">User surname is required</p>
                            </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.email.$invalid }">
                        <input type="email" name="email" ng-model="data.email" class="form-control" data-brix_class="1466801267231" required="true">
                            <div ng-show="submitted && userForm.surname.$invalid" class="help-block">
                                <p ng-show="userForm.surname.$error.required">User email is required</p>
                            </div>
                    </div>
                     <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.password.$invalid }">
                        <input type="password" name="password" ng-model="data.password" class="form-control" data-brix_class="1466801277136" required="true">
                            <div ng-show="submitted && userForm.password.$invalid" class="help-block">
                                <p ng-show="userForm.password.$error.required">User password is required</p>
                            </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.role.$invalid }">
                        <input type="text" name="role" ng-model="data.role" class="form-control" data-brix_class="1466801287762" required="true">
                             <div ng-show="submitted && userForm.role.$invalid" class="help-block">
                                <p ng-show="userForm.role.$error.required">User role is required</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" data-brix_class="1466801549135">Save&nbsp;</button>
       </form>
</section>
