<section>        
    <span data-brix_class="1466800402415">
        List of projects<br>
    </span>
    
    <div ng-controller = "projectCtrl" ng-init="find(); getLoggedUser()">
        <table class="table" ng-show = "loggedUser.user_role=='admin'">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tasks</th>
                    <th>Users on project</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Reports</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in projects">
                    <td>{{ p.project_name }}</td>
                    <td><a class="btn text-center" href="#/projectsTasks/{{p.project_id}}" data-brix_class="1467029462861">
                                <i class="glyphicon glyphicon-list"></i>
                        </a>
                    </td>
                    <td><a class="btn text-center" href="#/projectsUsername/{{p.project_id}}" data-brix_class="1467029462861">
                                <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </td>
                    <td> <a class="btn text-center" href="#/projects/{{p.project_id}}/edit" data-brix_class="1467029462861">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn" data-ng-click="delete(p.project_id)" data-brix_class="1467029527557"> <!--remove(user) -->
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn text-center" href="#/reports/{{p.project_id}}" data-brix_class="1467029527557">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            </table>

              <table class="table" ng-show = "loggedUser.user_role=='programmer'">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tasks</th>
                    <th>Users on project</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in projects">
                    <td>{{ p.project_name }}</td>
                    <td><a class="btn text-center" href="#/projectsTasks/{{p.project_id}}" data-brix_class="1467029462861">
                                <i class="glyphicon glyphicon-list"></i>
                        </a>
                    </td>
                    <td><a class="btn text-center" href="#/projectsUsername/{{p.project_id}}" data-brix_class="1467029462861">
                                <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            </table>
            <div ng-show="loggedUser.user_role=='admin'">
                <a class="btn" href="#/createproject" data-brix_class="1467029527557"> 
                    <i class="glyphicon glyphicon-plus"></i>
                 </a>
            </div>
    </div>
</section>