[data-brix_class="1466802392777"]{
    background-color: #389dab;
    color: #ffffff;
}
[data-brix_class="1466802309147"]{
    background-image: images/ticket.png;
}
[data-brix_class="1466802250668"]{
    color: #ffffff;
    background-color: #389dab;
}
[data-brix_class="1466801549135"]{
    margin-left: 400px;
    background-color: #389dab;
    margin-top: 25px;
    font-size: 20px;
}
[data-brix_class="1466801424887"]{
    margin-top: 20px;
    margin-left: 20px;
}
[data-brix_class="1466801408662"]{
}
[data-brix_class="1466801287762"]{
    height: 30px;
    margin-bottom: 8px;
}
[data-brix_class="1466801277136"]{
    height: 30px;
    margin-bottom: 20px;
}
[data-brix_class="1466801267231"]{
    height: 30px;
    margin-bottom: 20px;
}
[data-brix_class="1466801257042"]{
    height: 30px;
    margin-bottom: 20px;
}
[data-brix_class="1466801214715"]{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    height: 30px;
    margin-bottom: 20px;
}
[data-brix_class="1466801075786"]{
    font-size: 20px;
    margin-bottom: 20px;
}
[data-brix_class="1466801006952"]{
    margin-bottom: 20px;
    font-size: 20px;
}
[data-brix_class="1466800981358"]{
    font-size: 20px;
    margin-bottom: 20px;
}
[data-brix_class="1466800875659"]{
    font-size: 20px;
    margin-bottom: 20px;
}
[data-brix_class="1466800797345"]{
    font-size: 20px;
    margin-bottom: 20px;
}
[data-brix_class="1466800573832"]{

    margin-top: 20px;
}
[data-brix_class="1466800444174"]{
    margin-bottom: 45px;
    background-color: #389dab;
}
[data-brix_class="1466800402415"]{
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}
[data-brix_class="1466800307197"]{
    padding-top: 20px;
    margin-top: 20px;
}
[data-brix_class="1466800015549"]{
    padding-top: 20;
    margin-top: 20;
}
[data-brix_class="1466799582341"]{
    width: 20;
    padding-bottom: 50;
    margin-bottom: 50;
}
[data-brix_class="1466799524050"]{

    font-size: 14;
}
[data-brix_class="1466799338091"]{
    font-size: 14;
}
[data-brix_class="1466799142936"]{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14;
    font-style: normal;
    width: 10;
    height: 10;
    padding-bottom: 10;
    margin-bottom: 10;
}
[data-brix_class="1466798902613"]{
    color: #389dab;
}
[data-brix_class="1466798835028"]{
    background-color: #389dab;
}
[data-brix_class="1466798831960"]{
    background-color: #389dab;
}
[data-brix_class="1466798506627"]{
    background-color: #389dab;
}
[data-brix_class="1466798498050"]{
    background-color: #389dab;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
[data-brix_class="1466798479157"]{
    background-color: #389dab;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
[data-brix_class="1466797946433"]{
    background-color: #142a63;
}
[data-brix_class="1466797919220"]{
    color: #389dab;
}
[data-brix_class="1466797900183"]{
    color: #124657;
}
[data-brix_class="1466797887560"]{
    color: #124657;
}
[data-brix_class="1466797867149"]{
    color: #124657;
}
[data-brix_class="1466797764013"]{
    color: #389dab;
}
